{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo_list</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>


    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr><td>Topshiriq</td><td>Holati (bajarildi,bajarilmadi)</td></tr>
                
                {% for todo in todos %}
                <tr><td>{{todo.id}}.{{todo.title}}</td><td>{{todo.status}}</td></tr>
                    
                {% endfor %}
                    
            </table>
        </div>
        <div class="col-2"></div>
    </div>
    
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.jss'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>